:root * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.fullscreen {
    height: 100vh;
    width: 100vw;
}

.fullscreen-abs {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.fullscreen-grid {
    display: grid;
    height: 100vh;
    width: 100vw;
}

.grid-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.game-screen {
    overflow: hidden;
    grid-template-rows: 1.75em 2em 1fr 3em 120px 120px;
    grid-template-columns: 120px 1fr 1fr 1fr 1fr 120px;
}

.name-container,
.header-container,
.function-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px inset #ddd;
    background-color: whitesmoke;
}

.name-container *,
.header-container *,
.function-btn-container * {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name-container {
    grid-row: 1;
    grid-column: 1 / 6;
    flex-flow: row wrap;
}

.header-container {
    grid-row: 2;
    grid-column: 1 / 7;
    flex-direction: column;
}

.function-btn-container {
    grid-row: 1;
    grid-column: 6 / 7;
    flex-flow: row wrap;
}

.view-container {
    grid-row: 3;
    grid-column: 1 / 7;
    position: relative;
    display: grid;
    overflow: hidden;
}

.view-container.home-view {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.sky-mid {
    position: absolute;
    width: inherit;
    height: inherit;
}

.sky-front {
    position: absolute;
    width: inherit;
    height: inherit;
}

.hud-container {
    grid-row: 4;
    grid-column: 1 / 7;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1.5em 1.5em;
    background-color: #000;
    border-bottom: 1px inset #ddd;
}

.resources-spread {
    grid-column: 1 / 7;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: white;
    background-color: #000;
    border-bottom: 1px inset #ddd;
    transition: all 0.1s;
    border: 1px solid #000;
}

.resource-flash { border: 1px solid #fff; }

.resources-spread strong {
    color: gray;
    display: none;
}

.resources-spread div {
    display: flex;
    align-items: center;
}

.resources-spread img {
    width: 1em;
    height: 1em;
}

.stats-spread {
    grid-column: 1 / 7;
    background-color: #000;
    border-bottom: 1px inset #ddd;
}

.stats-spread .bar {
    height: 33%;
}

.character-container,
.dialog-container,
.middle-btn-container {
    background-image: linear-gradient(#222, #111, #222);
}

.character-container {
    grid-row: 5;
    grid-column: 1 / 2;
    width: 120px;
}

.dialog-container {
    grid-row: 5;
    grid-column: 2 / 7;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.left-btn-container,
.right-btn-container {
    grid-row: 6;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: radial-gradient(#888, #222);
}

.middle-btn-container {
    grid-row: 6;
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-image: linear-gradient(#222, #111, #222);
}

.right-btn-container {
    grid-row: 6;
    grid-column: 6;
}

.stats-container {
    background-color: #efefef;
    overflow: auto;
}

.modal-screen, .utility-container {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    display: grid;
    justify-content: center;
    width: 100%;
    padding: 60px;
    z-index: 100;
}

.modal {
    background-color: beige;
    border: 2px inset tan;
    border-radius: 5px;
    width: 80vw;
    height: 80vw;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #000;
    border-bottom-left-radius: 13px;
    background-color: #222;
    color: #fff;
    padding: 1em;
}

.close-btn:active {
    color: cyan;
}

.choices {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    z-index: 1;
}

.choice {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(#ddd 66%, cyan);
    padding: 3px 10px;
    border: 1px inset #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.house {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    height: 100%;
    justify-self: center;
}

.character-img {
    position: absolute;
    width: inherit;
    height: 120px;
    border: 1px inset #ddd;
    border-top-right-radius: 21px;
}

.character-bg {
    background-color: #8ac;
}

.feedback, .dialog {
    text-align: center;
    inline-size: 100%;
    overflow-wrap: break-word;
    padding: 5px;
}

.feedback { color: lightgray; font-family: Georgia, 'Times New Roman', Times, serif; }
.dialog { color: cyan; }
.gamepad-btn { border-radius: 5px; }
#btn0 { background-color: rgb(255, 228, 78); }
#btn1 { background-color: rgb(106, 255, 255); }
#btn6 { background-color: lightsalmon; }
#btn7 { background-color: tomato; }
.bar-container { margin-bottom: 5px; }

.bar {
    height: 7px;
    border-bottom: 2px solid #444;
    border-right: 1px solid black;
    transition: width 0.3s ease-out;
}

.level-bar { background-color: darkcyan; }
.xp-bar { background-color: cyan; }
.health-bar { background-color: red; }
.stamina-bar { background-color: lime; }
.skill-bar { background-color: orange; }
.power-bar { background-color: purple; }
.agility-bar { background-color: cornflowerblue; }
.excited { background-image: radial-gradient(goldenrod, orange) }

.weather-time-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.weather-time-date span { text-align: center; }
.weather, .date { width: 33%; }

.time-bar {
    background-color: lightskyblue;
    height: .45em;
    margin: 2px 0;
    border: 1px solid #333;
    border-radius: 5px;
}

.bar-container span{
    padding-left: 5px;
    padding-right: auto;
}

.inventory-container,
.equipment-container,
.stats-container,
.journal-container  {
    background-color: beige;
    display: grid;
    height: auto;
    overflow: auto;
    width: 80vw;
    border: 1px inset #ddd;
    border-radius: 5px;
}

.inventory-container { grid-template-columns: 1fr 1fr 1fr; }
.equipment-container { grid-template-columns: 1fr; }

.invItem, .equipItem {
    position: relative;
    display: grid;
    background-color: #a29393;
    width: 100%;
}

.invItem:active, .equipItem:active, .gamepad-btn:active {
    transform: translateY(3px);
    border: 1px solid cyan;
}

.equipItem {
    grid-template-columns: 1fr 1fr;
    border: 2px inset #555;
    padding-bottom: 5px;
    text-align: center;
}

.equipItem strong, .equipItem .bar, .equipItem div {
    grid-column: 1 / 3;
    padding: 3px;
}

.equipItem .bar {
    background-color: red;
    grid-row: 3;
}

/* the height is 60px to make a square (container is 120px wide with 2 cols) */
.invItem img, .equipItem img {
    padding: 3px;
    border: 1px inset tan;
    height: 60px;
}

.invItem img, .equipItem img {
    width: 100%;
    height: 100%;
}

.invItem span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    margin: 3px;
    padding: 3px;
}

.invItem span {
    background-image: radial-gradient(#00000011, #00000033);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}

.selected, .gamepad-btn:active {
    border: 1px solid cyan;
}

@media (orientation: landscape) {
        
    .game-screen {
        grid-template-rows: 2.25em 1fr 21px 120px;
        grid-template-columns: 120px 120px 1fr 120px 120px;
    }

    .name-container {
        grid-column: 1;
    }

    .header-container {
        grid-row: 1;
        grid-column: 2 / 6;
    }
    
    .view-container {
        grid-row: 2 / 4;
        grid-column: 2 / 7;
    }
    
    .view-container.home-view {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    .hud-container {
        grid-row: 2 / 4;
        grid-column: 1;
        grid-template-rows: 6fr 1.5em;
    }

    .resources-spread {
        flex-flow: column wrap;
    }

    .resources-spread strong {
        color: gray;
        display: inline-block;
    }
    
    .left-btn-container {
        grid-row: 4;
        grid-column: 1;
    }
    
    .character-container {
        grid-row: 4;
        grid-column: 2;
    }
    
    .dialog-container {
        grid-row: 4;
        grid-column: 3 / 5;
    }
    
    .middle-btn-container {
        grid-row: 4;
        grid-column: 5;
    }
    
    #btn8 {
        border-top-left-radius: 21px;
    }
    
    .right-btn-container {
        grid-row: 4;
        grid-column: 6;
    }

    .inventory-container,
    .equipment-container,
    .stats-container,
    .journal-container  {
        width: 160vh;
    }
    
    .inventory-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .equipment-container {
        grid-template-columns: 1fr 1fr;
    }
    
}

/* exploration elements */
.view-container svg {
    border: none;
    position: absolute;
}

.view-container svg, .view-container img {
    border: none;
    position: absolute;
}
.view-container svg.ground{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    background-image: linear-gradient(lightgreen, green);
}

.view-container svg.water{
    position: absolute;
    bottom: 0;
    height: 65%;
    background-image: linear-gradient(darkcyan, #003e3e);
}

.view-container img:active {
    transform: scale(1.05);
}

.pow {
    position: absolute;
    width: 50px;
    height: auto;
    z-index: 101;
}

.drop {
    position: absolute;
    width: 3em;
    transition: all 0.2s linear;
}

.view-container svg.water:active {
    border: 1px solid cyan;
}

.menu-screen {
    background-color: #ddd;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.menu-screen h1 {
    text-align: center;
}

.menu-screen h2 {
    padding-top: 1em;
}

.menu-screen section {
    background-color: #f5f5dc88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

/* utilities -- note: keep '.hide' at the bottom */
.hide {
    display: none;
}
