:root * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.fullscreen-grid {
    display: grid;
    height: 100vh;
}

.game-screen {
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: 2em calc(100vh - 2em - 120px) 120px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid #444;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-container {
    background-color: #efefef;
    overflow: auto;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.function-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.left-btn-container, .right-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.view-container {
    background-color: cadetblue;
}

.dialog-container {
    background-image: linear-gradient(#222, #111, #222);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.feedback, .dialog, .choices {
    text-align: center;
    inline-size: 100%;
    overflow-wrap: break-word;
    padding: 5px;
}

.feedback {
    color: lightgray;
}

.dialog {
    color: cyan;
}

.choices {
    color: lightgray;
}

.gamepad-btn {
    border-radius: 5px;
}

.bar-container {
    margin-bottom: 5px;
}

.bar {
    height: 5px;
    border: 1px inset gray;
}

.level-bar {
    background-color: darkcyan;
}

.xp-bar {
    background-color: cyan;
}

.health-bar {
    background-color: red;
}

.stamina-bar {
    background-color: lime;
}

.skill-bar {
    background-color: orange;
}

.power-bar {
    background-color: purple;
}

.luck-bar {
    background-color: gold;
}

.weather-time-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.weather-time-date span {
    text-align: center;
}

.weather, .date {
    width: 33%;
}

.time-bar {
    background-color: lightskyblue;
    height: .5em;
    margin: 2px 0;
    border: 1px inset gray;
}

.bar-container span{
    padding-left: 5px;
    padding-right: auto;
}

.choice {
    padding: 0 15px;
}

.modal-screen {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: beige;
    border: 2px inset tan;
    border-radius: 5px;
    width: 80vh;
    height: 80vh;
}

.inventory-container {
    display: grid;
    height: auto;
    overflow: auto;
    grid-template-columns: 1fr 1fr;
}

/* the height is 60px to make a square (container is 120px wide with 2 cols) */
.invItem {
    background-color: #baa;
    width: 100%;
    height: 60px;
    position: relative;
}

.invItem img {
    width: 100%;
    padding: 3px;
    border: 1px inset tan;
}

.invItem div, .invItem span {
    padding: 3px;
    margin: 3px;
}

.invItem div {
    background-image: linear-gradient(#00000011, #00000033);
    position: absolute;
    top: 0;
    left: 0;
}

.invItem span {
    background-image: radial-gradient(#00000011, #00000033);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}

/* mobile portrait settings */
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .game-screen {
        grid-template-rows: 1.5em 2em 1fr 120px 100px 200px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .name-container {
        grid-row: 1;
        grid-column: 1 / 5;
    }

    .function-btn-container {
        grid-row: 1;
        grid-column: 5 / 7;
    }
    
    .header-container {
        grid-row: 2;
        grid-column: 1 / 7;
    }
    
    .view-container {
        grid-row: 3;
        grid-column: 1 / 7;
    }
    
    .dialog-container {
        grid-row: 4;
        grid-column: 1 / 7;
    }
    
    .left-btn-container {
        grid-row: 5;
        grid-column: 1 / 4;
    }
    
    .right-btn-container {
        grid-row: 5;
        grid-column: 4 / 7;
    }
    
    .left-container {
        grid-row: 6;
        grid-column: 1 / 4;
    }
    
    .right-container {
        grid-row: 6;
        grid-column: 4 / 7;
    }

    .modal {
        width: 80vw;
        height: 80vw;
    }

    .invItem {
        height: 25vw;
    }
  }

  
/* utilities -- note: keep '.hide' at the bottom */
.hide {
    display: none;
}